<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
<li {% if active_link == "wedding" %}class="active"{% endif %}><a href="{% url 'wedding' %}">Wedding</a></li>
<li {% if active_link == "logistics" %}class="active"{% endif %}><a href="{% url 'logistics' %}">Logistics</a></li>
<li {% if active_link == "rsvp" %}class="active"{% endif %}><a href="{% url 'rsvp:rsvp' %}">RSVP</a></li>
