{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1 style="color:#9c27b0;">Mike Henry</h1>
          <h1 style="color:#f44336;">&</h1>
          <h1 style="color:#9c27b0;">Zoey Hogue</h1>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-10">
          <ul class="events">
            <div class="text-center">
              <a class="btn btn-primary" href="{% url 'rsvp:rsvp' %}" role="button">RSVP for our Wedding!</a>
            </div>
            {% for event in events %}
            <li class="event">
              <h2 id="{{ event.slug }}"class="event-header">
                <span class="event-title">{{ event.title }}</span>
                <hr class="event-title-hr">
                <b class="event-person" title=""> </b>
              </h2>
              {% if event.picture %}
              <div class="event-photo text-center">
                <img class="img-responsive event-img" src="{{ event.picture.url }}" alt="{{ event.title }}">
              </div>
              {% endif %}
               <div class="event-desc">
                <p class="event-text">
                  {{ event.text }}  
                </p>
                <hr class="event-date-hr">
                <p class="event-date text-right">{{ event.date }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

