{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Logistics{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="logistics" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% autoescape off %}
        <ul class="accordion-tabs">
            {% if travels %}
            <li class="tab-header-and-content">
                <a href="javascript:void(0)" class="is-active tab-link">Travel</a>
                <div class="tab-content">
                    {% for entry in travels %}
                      {% if entry.name %}
                        <h3><a class="link" href="{{ entry.website }}">{{ entry.name }}</a></h3>
                      {% elif entry.website %}
                        <h2><a class="link" href="{{ entry.website }}">{ entry.title }}</a></h2>
                      {% else %} 
                        <h2>{{ entry.title }}</h2>
                      {% endif %}
                      <p>{{ entry.description|linebreaks }}</p>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            {% if hotels %}
            <li class="tab-header-and-content">
                <a href="javascript:void(0)" class="tab-link">Hotels</a>
                <div class="tab-content">
                    {% for entry in hotels %}
                      {% if entry.name %}
                        <h3><a class="link" href="{{ entry.website }}">{{ entry.name }}</a></h3>
                      {% elif entry.website %}
                        <h2><a class="link" href="{{ entry.website }}">{{ entry.title }}</a></h2>
                      {% else %} 
                        <h2>{{ entry.title }}</h2>
                      {% endif %}
                      <p>{{ entry.description|linebreaks }}</p>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            {% if outings %}
            <li class="tab-header-and-content">
                <a href="javascript:void(0)" class="tab-link">Outings</a>
                <div class="tab-content">
                    {% for entry in outings %}
                      {% if entry.name %}
                        <h3><a class="link" href="{{ entry.website }}">{{ entry.name }}</a></h3>
                      {% elif entry.website %}
                        <h2><a class="link" href="{{ entry.website }}">{ entry.title }}</a></h2>
                      {% else %} 
                        <h2>{{ entry.title }}</h2>
                      {% endif %}
                      <p>{{ entry.description|linebreaks }}</p>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
         </ul>
         {% endautoescape %}
      </div>
    </div>
  </div>
</div>
{% endblock container %}
