{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Logistics{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="logistics" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Traveling to Our Wedding</h1>
        <p>We understand that many of our guests will be traveling from out of
        state and we hope to provide you with all of the necessary information 
        to make your travel to Maryland as easy as possible.</p>
        <h2>BWI</h2>
        <p>Easton and Saint Michaels are rural towns on Maryland’s Eastern Shore.
        The best airport to fly into is Baltimore/Washington International (BWI).
        The drive from BWI to Easton, MD is a little over one hour (60 miles). 
        In order to get between hotels and the wedding venue a car is necessary.</p>
        <h2>Shuttle from BWI to Easton</h2>
        <p>For those of you who are sharing cars, but who may not be arriving at
        the airport at the same time, there's the BayRunner Shuttle.

        This shuttle leaves every other hour from 8:30am to 8:30pm daily. The 
        rates are $51 for one person each way or $84 for two people each way. 
        The shuttle drops you at the Easton Airport where someone can pick you 
        up or you can take a 5 minute taxi ride to many of the hotels in Easton.</p> 
      </div>
    </div>
  </div>
</div>
{% endblock container %}
