{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Wedding Events{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="wedding" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      {% for day, list in days.items %}
        <div class="col-md-{{ col_size }} text-center">
          <h2>{{ day|date:"M d, Y" }}</h2>
          {% for event in list %}
            <p>{{ event.title }} : {{ event.event_start|date:"P" }} - {{ event.event_end|date:"P" }}</p><br>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock container %}
