{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Wedding Events{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="wedding" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row calendar">
      {% for day, list in days.items %}
      {# Use offset if their are only 2 days. We have to only allow the first to have the offset #}
      <div class="col-md-{% if col_size != 6%}{{ col_size }}{% elif forloop.first %}3 col-md-offset-3{% else %}3{% endif %} day">
          <h2>{{ day|date:"M d, Y" }}</h2>
          {% for event in list %}
            <a class="name link"  href="#{{ event.slug }}">{{ event.clean_name }}</a></br>
            <span class="time">{{ event.event_start|date:"P" }} - {{ event.event_end|date:"P" }}</span></br>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="row flex">
      <div class="col-md-6 col-md-offset-2 event-loc">
        {% for event in events %}
          {% autoescape off %}
          <h3 id="{{ event.slug }}">{{ event.title }}</h3>
          <p>{{ event.event_note|linebreaks }}</p>
          <a class="link" href="{{ event.location_website }}"><strong>{{ event.location_name }}</strong></a>
          </br>
          <a class="link" href="{{ event.location_map }}">{{ event.location_addr|linebreaks }}</a>
          <p>{{ event.event_description|linebreaks }}</p>
          {% endautoescape %}
          </br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock container %}
