html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.input-group-btn {
  padding: 0 10px; }

.events {
  list-style: outside none none;
  margin: 0 auto;
  max-width: 48em;
  padding: 6em 0 3em;
  position: relative; }
  .events .btn {
    background-color: #f44336;
    border-color: #922820;
    margin-bottom: 2em; }
  .events:before {
    background: #f2c63d none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 50%;
    margin-left: -0.25em;
    position: absolute;
    top: 0;
    width: 0.5em;
    z-index: -1; }
  .events .event {
    box-shadow: 0.1em 0.1em 1em black;
    margin-bottom: 2em;
    padding: 1em 1em 1em 1em; }
    .events .event .event-header {
      margin-top: 0px;
      padding: 10px 5px 10px 5px; }
      .events .event .event-header .event-title-hr {
        background: #f44336;
        margin: 0.5em 4em 0em 0em; }
    .events .event .event-photo {
      padding: 10px 5px 10px 5px; }
      .events .event .event-photo .event-img {
        display: inline; }
    .events .event .event-desc {
      color: #9e9e9e;
      margin-top: 10px;
      margin-bottom: 5px !important;
      padding: 10px 10px 10px 10px; }

.calendar {
  display: flex;
  font-size: 1.25em; }
  .calendar .day {
    border: 0.1em #9e9e9e solid;
    padding-bottom: 1em;
    margin-right: .25em; }
    .calendar .day h2 {
      text-align: right;
      margin: .5em; }
    .calendar .day .time {
      padding-left: .5em;
      font-weight: bold; }

.event-loc {
  margin-top: 1em;
  font-size: 1.25em; }

.list-group-item {
  background: #f44336; }

.list-group-item:hover {
  background: #e57373 !important; }

.list-group-item:focus {
  background: #e57373 !important; }

.link:link {
  color: #216eb5; }

.link:visited, .link:hover, .link:active {
  color: #f2c63d; }

.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding: 0; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 40em) {
    .accordion-tabs {
      border-radius: 3px;
      border: 1px solid gainsboro; } }
  .accordion-tabs .tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-header-and-content {
        display: inline; } }
    .accordion-tabs .tab-header-and-content:first-child .tab-link {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      @media screen and (max-width: 40em) {
        .accordion-tabs .tab-header-and-content:first-child .tab-link {
          border-top: 0; } }
    @media screen and (max-width: 40em) {
      .accordion-tabs .tab-header-and-content:last-child .tab-link {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; } }
  .accordion-tabs .tab-link {
    background-color: white;
    border-top: 1px solid gainsboro;
    color: #333;
    display: block;
    font-weight: bold;
    padding: 0.75em 0.809em;
    text-decoration: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-link {
        display: inline-block;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: 0; } }
    .accordion-tabs .tab-link:hover {
      color: #9c27b0; }
    .accordion-tabs .tab-link:focus {
      outline: none; }
    .accordion-tabs .tab-link.is-active {
      background-color: #f7f7f7; }
      @media screen and (min-width: 40em) {
        .accordion-tabs .tab-link.is-active {
          background-color: #f7f7f7;
          border: 1px solid gainsboro;
          border-bottom-color: #f7f7f7;
          margin-bottom: -1px; } }
  .accordion-tabs .tab-content {
    background: #f7f7f7;
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-content {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid gainsboro;
        float: left; } }

/*# sourceMappingURL=site.css.map */
