{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}RSVP{% endblock %}

{% block container %}
<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">An Awesome Tagline Goes Here</p>
        <form method="post" action="">
    {%crispy form %}
</form>
      </div>
    </div>
  </div>
</div>
{% endblock container %}
